@font-face {
  font-family: "light";
  src: url(assets/font/Poppins-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: "regular";
  src: url(assets/font/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "fon1";
  src: url(assets/font/zh-cn.ttf) format("truetype");
}
@font-face {
  font-family: "fon2";
  src: url(assets/font/Pacifico-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.arrow {
  margin-top: 9vw;
}

body {
  background-color: black;
}

#header {
  background-color: rgba(42, 41, 41, 0.646);
  backdrop-filter: blur(4px);
  width: 100%;
  height: 66px;
  z-index: 9;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding-right: 25px;
}

.headerselainlogo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headerkiri {
  width: 44.271vw;
  display: flex;
  align-items: center;
  color: rgb(147, 144, 144);
}

.headerkanan {
  width: 7vw;
  margin-right: 10px;
  display: flex;
  right: 0;
  align-items: center;
  color: rgb(147, 144, 144);
}

.header__navbar {
  gap: 30px;
  display: flex;
  align-items: center;
  color: rgb(147, 144, 144);
  margin: 0px 0px 0px 20px;
}

#headerlogo img {
  min-width: 150px;
  width: 100%;
  background-size: cover;
  height: 58px;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#headerlogo img:hover {
  filter: drop-shadow(0 0 5px #a9fdff) drop-shadow(0 0 5px #a9fdff);
}

.nav_text {
  font-size: medium;
  color: rgb(255, 255, 255);
  text-decoration: none;
  /* transition: 0.5s; */
  padding: 0 10px;
}

.nav_text:hover {
  border-bottom: 3px solid #a9fdff;
  padding: 3px 10px 0px 10px;
  color: #a9fdff;
  text-shadow: 0 0 10px #a9fdff, 0 0 15px #a9fdff, 0 0 15px #a9fdff,
    0 0 20px #a9fdff;
}

@media (max-width: 767px) {
  .headerkanan {
    display: none;
  }
  .headerkiri {
    display: none;
  }
  .headerselainlogo {
    justify-content: right;
  }
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.bar {
  border-radius: 2px;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 100%;
  width: 50%;
  min-height: 100vh;
  z-index: 5;
  background-color: rgba(21, 21, 21, 0.87);
  padding-top: 120px;
  transition: 0.4s;
  border-radius: 8px;
}

.mobile-nav.is-active {
  left: 50%;
}

.mobile-nav a {
  width: 100%;
  max-width: 200px;
  display: block;
  text-align: center;
  margin: 0 auto 16px;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.509);
  text-decoration: none;
  color: rgba(255, 255, 255, 0.824);
}

.mobile-nav a:hover {
  border-color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}

@media (max-width: 480px) {
  .mobile-nav.is-active {
    left: 0%;
  }
  .mobile-nav {
    width: 100%;
  }
}
.background-image {
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#jumbotron {
  position: relative;
  background-position: center;
  justify-content: left;
  text-align: center;
  height : 100vh;
}

.backvid {
  filter: brightness(0.7);
  position: absolute;
  width : 100%;
  height: 100%;
  object-fit: cover;
  right: 0;
  border: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .backvid {
    width: 100%;
    height: 100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .backvid {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .backvid {
    object-position: 20% 80%;
  }
}

.text-box {
  line-height: 5vw;
  color: rgb(255, 255, 255);
}

.text-box p {
  line-height: 60px;
  font-size: 50px;
}

.text-box .judul {
  font-family: sans-serif;
  line-height: 160px;
  font-size: 170px;
  color: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  -webkit-text-stroke: 1px solid rgb(255, 255, 255);
  background: url(https://drive.google.com/uc?export=view&id=1jUFRpg0Bm2Erw_iS3-RYysaExZV4HAu6);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  animation: back 40s linear infinite;
}

@media (max-width: 767px) {
  .text-box .judul {
    font-size: 100px;
    line-height: 100px;
  }
  .text-box p {
    font-size: 80px;
    line-height: 100px;
  }
}

@media (max-width: 464px) {
  .text-box .judul {
    font-size: 50px;
    line-height: 60px;
  }

  .text-box p {
    font-size: 40px;
    line-height: 100px;
  }
}

@keyframes back {
  100% {
    background-position: 1500px 0;
  }
}

.jum1text {
  position: relative;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding : 20px; */
  min-height: 100vh;
}

.morelink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background: linear-gradient(90deg, #0162c8, #55e7fc);
  text-align: center;
  color: aliceblue;
  text-decoration: none;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: bolder;
  height: 75px;
  width: 300px;

  transition: color 0.4s linear;
}

.morelink:hover {
  color: rgb(66, 69, 255);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  height: 60px;
  min-height: 60px;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.3s;
  position: relative;

  text-align: center;
  /* overflow: hidden; */

  border-radius: 5px;
  box-shadow: 0 6px 30px -10px rgba(#cccccc, 1);
  transition: all 0.3s;
  margin-top: 50px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.btn-white {
  background-color: #fff;
  font-family: "medium";
}
.btn-white::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #ffffffb6;
}

.btn-white:hover::after {
  transform: scaleX(1.6) scaleY(2);
  opacity: 0;
}

.btn:hover {
  letter-spacing: 3px;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.playbtn {
  background: linear-gradient(90deg, #0162c8, #55e7fc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
  position: relative;
}


.playbtn span {
  font-family: "medium";
}

.playbtn span a{
  background: linear-gradient(90deg, #0162c8, #55e7fc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  letter-spacing: 3px;
  position: relative;
}

.main-snowflake {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50px;
  gap: 5px;
  width: 100px;
  transform: scale(0.4);
}

.main-snowflake div {
  border-radius: 5px;
}

.main-snowflake .snowflake-item {
  position: relative;
}

.to-left {
  position: absolute;
  top: -4px;
  left: -35px;
  animation: swing 3s infinite;
}

.to-left div {
  animation: flash2 3s infinite;
}

.to-right {
  position: absolute;
  top: -25px;
  right: -35px;
  animation: swing 2.5s infinite;
}

.to-right div {
  animation: flash 2.5s infinite;
}

.border-left {
  border-left: 4px solid #e6dada;
}

.border-right {
  border-right: 4px solid #e6dada;
}

.border-bottom {
  border-bottom: 4px solid #e6dada;
}

.border-top {
  border-top: 4px solid #e6dada;
}

.sub-items {
  height: 28px;
  width: 28px;
}

.m-w-15 {
  width: 15px;
}

.m-h-15 {
  height: 15px;
}

.r-270 {
  transform: rotate(270deg);
}

.r-180 {
  transform: rotate(180deg);
}

.r-90 {
  transform: rotate(90deg);
}

.pull-down {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.pull-down-right {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.pull-right {
  position: absolute;
  right: 5px;
  top: 5px;
}

.pull-left {
  position: absolute;
  left: 5px;
  top: 5px;
}

.m-3 {
  margin: 3px;
}

@keyframes swing {
  50% {
    transform: rotateZ(10deg) scale(0.4);
  }
}

@keyframes flash {
  50% {
    border-color: #39fcff;
  }
}

@keyframes flash2 {
  50% {
    border-color: #0162c8;
  }
}

.scroll-animation {
  margin-top: 50px;
  position: relative;
  margin-bottom : 20px;
  width: 30px;
  height: 50px;
  margin-left: calc(30px / 2);
  border: calc(30px / 10) solid white;
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff7d;
}

.scroll-animation::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: white;
  border-radius: 50%;
  animation: mouse-wheel 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff7d;
}

@keyframes mouse-wheel {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevron {
  margin-top: -4px;
  position: relative;
  border: solid white;
  border-width: 0px 3px 3px 0px;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevron:nth-child(1) {
  animation: pulse 500ms ease infinite alternate;
}
.chevron:nth-child(2) {
  animation: pulse 500ms ease infinite alternate 250ms;
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.jumbotron2 {
  background: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.98)
    ),
    url("https://drive.google.com/uc?export=view&id=1xFepgwYQg1lQ72bsBnO9WfyjRJZlr4S7");
  background-size: cover;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  /* z-index: -2; */
}

.update {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px 200px 0px;
  width: 100%;
  height: 100%;
}

.subjudulnews {
  display: flex;
  justify-content: center;
}

.element {
  transform: translate(0%, 450%);
  width: 10vw;
  height: 2vw;
  justify-content: center;
  align-content: center;
}

.newstext {
  font-family: "regular";
  font-weight: 50px;
  color: white;
  font-size: 4.042vw;
  text-align: center;
  padding: 7.042vw 2vw 0vw 2vw;
}
.baris {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.269);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.p {
  padding: 0px 5px 0px 5px;
}

.baris:hover {
  background-color: rgba(67, 67, 67, 0.484);
  cursor: pointer;
}

.latest {
  color: bisque;
  font-size: 22px;
  border-bottom: 2px solid bisque;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  transition: all 0.25s;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  background-color: rgba(0, 0, 0, 0.187);
  width: 20%;
  transition: 1s ease-in-out;
}

.slide img {
  width: 800px;
  height: 500px;
}

.detailberita {
  color: rgb(255, 255, 255);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  height: 500px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  padding: 25px 1.302vw;
  width: 31.25vw;
  display: flex;
  flex-direction: column;
  line-height: 50px;
  align-items: center;
  font-size: 18px;
  font-weight: 100;
}

@media (max-width: 767px) {
  .update {
    display: block;
    justify-content: center;
    margin-left: 15vw;
    margin-bottom: 10vmin;
    padding: 0 0 0 0;
    width: 65.189vw;
    align-items: center;
    /*ada margin tak dikenal*/
  }
  .slider {
    width: 65.189vw;
    height: 39.113vw;
    border-radius: 2px;
    overflow: hidden;
  }
  .slides {
    width: 500%;
    height: 39.113vw;
    display: flex;
    overflow: hidden;
  }
  .slide {
    object-fit: cover;
  }

  .slide img {
    width: 100%;
    height: 100%;
  }

  .detailberita {
    height: 100%;
    border: none;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    font-size: 14px;
  }
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  margin-top: 460px;
  right: 15vw;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 460px;
  overflow: hidden;
  right: 15vw;
}

.navigation-auto div {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: white;
}

@media (max-width: 767px) {
  .navigation-auto {
    display: none;
  }
  .navigation-manual {
    display: none;
  }
}
.promotions {
  width: 100%;
  height: auto;
  --height: auto;
  background-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 10px 10px 20px black;
}

.promotions-text {
  overflow: hidden;
  margin: 4vw 0px;
  justify-self: center;
  align-self: center;
  font-family: "fon1";
  letter-spacing: 10px;
  color: white;
  font-size: 5rem;
  text-align: center;
  text-shadow: rgba(252, 193, 0, 0.292) 0px 0px 10px,
    rgba(252, 193, 0, 0.292) 0px 0px 10px, rgba(252, 193, 0, 0.292) 0px 0px 10px;
    overflow: hidden;
}

@media (max-width: 767px) {
  .promotions-text {
    font-size: 3rem;
  }
}

@media (max-width : 350px){
  .promotions-text {
    font-size: 2rem;
  }
}

.shadow {
  display: none;
  position: absolute;
  height: 100px;
  width: 100%;
  background: linear-gradient(rgb(0, 0, 0), transparent);
  z-index: 4;
}

.container-bubble {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 3;
}

.bubbles {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  z-index: 0;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: lime;
  margin: 0px 4px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 2px rgb(0, 121, 0), 0px 0px 50px lime,
    0px 0px 100px lime, 0 0 200px lime;
  animation: bubble linear infinite;
  animation-duration: calc(500s / var(--i));
}

.bubbles span:nth-child(even) {
  /* background: rgb(0, 255, 204);
  box-shadow: 0 0 0 2px rgb(0, 109, 87), 0 0 5px rgb(0, 255, 204),
    0 0 10px rgb(0, 255, 204), 0 0 20px rgb(0, 255, 204); */

  background: #ffff00;
  box-shadow: 0 0 0 2px #ffff00, 0 0 50px #ffffb8, 0 0 100px #ffff9e,
    0 0 200px #ffffac;
}

.bubbles span:nth-child(3n) {
  z-index: 8;
}

@keyframes bubble {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(0.4);
  }
}

@media (max-width: 1260px) {
  .container-bubble {
    height: 200%;
  }

  @keyframes bubble {
    0% {
      transform: translateY(200vh) scale(0);
    }
    100% {
      transform: translateY(-10vh) scale(0.4);
    }
  }
}

@media (max-width: 620px) {
  .container-bubble {
    height: 300%;
  }

  @keyframes bubble {
    0% {
      transform: translateY(300vh) scale(0);
    }
    100% {
      transform: translateY(-10vh) scale(0.4);
    }
  }
}

.archons {
  height: auto;
  width: auto;
  background-color: rgb(2, 2, 2);
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 50px;
}

.archon {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 300px;
  height: 600px;
  min-width: 300px;
  min-height: 600px;
  z-index: 4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.eh {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
}
.bg-el {
  transform: scale(0.8);
  margin-top: 40%;
  align-self: center;
  filter: brightness(1.2) drop-shadow(0px 0px 20px rgba(252, 193, 0, 0.292));
}
.archontext {
  text-align: center;
  text-decoration: none;
  position: absolute;
  z-index: 5;
  font-weight: 1000;
  letter-spacing: 10px;
  bottom: 0;
  transition: 0.3s ease-in-out;
  opacity: 1;
  font-family: sans-serif;

  /* background:linear-gradient(transparent, black); */
}

/*kalo niat bikin background-clip*/
.v {
  font-size: 65pt;
  right: 5px;
  color: transparent;
  -webkit-text-stroke-color: rgb(0, 242, 255);
  -webkit-text-stroke-width: 3px;
}

.z {
  font-size: 35pt;
  right: 5px;
  color: transparent;
  -webkit-text-stroke-color: rgb(255, 194, 40);
  -webkit-text-stroke-width: 3px;
}

.r {
  font-size: 54pt;
  right: 0px;
  color: transparent;
  -webkit-text-stroke-color: rgb(211, 145, 255);
  -webkit-text-stroke-width: 3px;
}

.k {
  -webkit-text-stroke-color: rgb(94, 255, 209);
  -webkit-text-stroke-width: 3px;
  color: transparent;
  font-size: 39pt;
  right: 0px;
}

.shadowbot {
  position: absolute;
  width: 100%;
  height: 15%;
  background: linear-gradient(transparent, black);
  bottom: 0;
  z-index: 3;
}

.archontext:hover {
  transform: translateY(-1vw);
  opacity: 1;
}

.archon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease-in-out;
  z-index: 3;
  overflow: hidden;
}

.thearchon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 300px;
  height: 600px;
  min-width: 300px;
  min-height: 600px;
  z-index: 4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.ventipage:hover {
  background: linear-gradient(
    rgba(0, 119, 255, 1),
    rgba(0, 200, 255, 0.3),
    rgba(0, 200, 255, 0),
    rgba(0, 200, 255, 0),
    rgba(0, 200, 255, 0)
  );
  filter: drop-shadow(0 0 10px rgb(0, 238, 255));
}

.ventipage img {
  object-position: 70%;
}

.zhonglipage:hover {
  background: linear-gradient(
    rgb(165, 99, 0),
    rgba(255, 153, 0, 0.3),
    rgba(255, 153, 0, 0),
    rgba(255, 153, 0, 0),
    rgba(255, 153, 0, 0)
  );
  filter: drop-shadow(0 0 10px rgb(255, 153, 0));
}

.zhonglipage img {
  object-position: 60%;
}

.raidenpage:hover {
  background: linear-gradient(
    rgb(153, 0, 255, 1),
    rgb(153, 0, 255, 0),
    rgb(153, 0, 255, 0),
    rgb(153, 0, 255, 0),
    rgb(153, 0, 255, 0)
  );
  filter: drop-shadow(0 0 10px rgb(153, 0, 255, 1));
}
.raidenpage img {
  object-position: 50% 50%;
}

.nahidapage:hover {
  background: linear-gradient(
    rgb(0, 152, 109),
    rgba(0, 255, 183, 0),
    rgba(0, 255, 183, 0),
    rgba(0, 255, 183, 0),
    rgba(0, 255, 183, 0)
  );
  filter: drop-shadow(0 0 10px rgba(0, 255, 183, 1));
}

.nahidapage img {
  object-position: 60% 40%;
}

.thearchon:hover {
  opacity: 1;
}

.thearchon:hover img,
.shadowbot {
  filter: brightness(0.8);
  transform: scale(1.2);
  overflow: hidden;
}

#update2 {
  background: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    ),
    url("https://drive.google.com/uc?export=view&id=1KOkpK2R3hY6kRK9T9Mdt3E9JGQep2SP3");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 1000px;
}

@media (max-width: 767px) {
  #update2 {
    background-position: center;
  }
}

.sumerutext {
  width: 100%;
  height: 100vh;
  display: block;
  align-content: center;
  position: absolute;
  justify-content: center;
  top: 384px;
}

.sumerutext p {
  display: block;
  align-content: center;
  justify-content: center;
}

.sumeru_bigtext {
  /* background : linear-gradient(rgb(0, 255, 195), rgba(0, 115, 38, 0.979)); */
  /* -webkit-background-clip: text;
  background-clip: text; */
  font-family: "fon1";
  color: white;
  font-weight: lighter;
  justify-content: center;
  text-align: center;
  display: flex;
  font-size: 80px;
  width: 100%;
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 0.5s all;
}

.sumeru_bigtext:hover {
  color: rgb(0, 255, 195);
  filter: drop-shadow(0 0 10px rgb(0, 255, 195));
  text-decoration: none;
}

.sumeru_smalltext {
  text-align: center;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.315);
  /* Black w/opacity/see-through  */
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: 2px solid #f1f1f1;
  font-size: 20px;
  margin: 0 20vw;
  padding: 1.563vw 5.208vw;
}

@media (max-width: 800px) {
  .sumeru_bigtext {
    padding: 0 0;
    font-size: 10vw;
  }

  .sumeru_smalltext {
    font-size: 15px;
    max-height: 245px;
    text-overflow: ellipsis;
    white-space: initial;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .sumeru_smalltext::-webkit-scrollbar {
    display: none;
  }
}

.logo {
  height: 52px;
  background-color: #1e1e1ecf;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #282828;
}
.logo img {
  padding: 5px 20px;
}
.fotlog:hover {
  border-top: 5px solid #a9fdff;
  color: #a9fdff;
}
#footer {
  overflow: hidden;
  background-color: black;
  width: 100%;
  height: 550px;
  justify-content: center;
}

.logo {
  height: 52px;
  background-color: #1e1e1ecf;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #282828;
}

.logoscreen {
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 50px;
}
.logo img {
  padding: 5px;
  cursor: pointer;
  filter: brightness(0.5);
}

.logo img:hover {
  filter: brightness(1);
}

.dropdown {
  min-width: 15em;
  position: relative;
  padding: 0.2em;
  flex-wrap: wrap;
  text-align: center;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #a4a4a4;
  border-radius: 2em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: 0.3s;
}

.select-clicked {
  border: 2px solid #a9a9a9;
}

.select:hover {
  border: 2px solid #ffffff;
  box-shadow: 0 0 2em #ffffff2b;
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #1e1e1ee1;
  box-shadow: 0 0.5em 1em #000000;
  border-radius: 2em;
  color: #ffffff;
  position: absolute;
  top: 4em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 2em;
  cursor: pointer;
  font-weight: bold;
}

.menu li:hover {
  background: rgba(255, 255, 255, 0.747);
  color: rgb(0, 0, 0);
}

.dragdown-active {
  background: rgba(0, 255, 238, 0.747);
  color: rgb(0, 0, 0);
}

.menu-open {
  display: block;
  opacity: 1;
}

@media (min-width: 768px) {
  .dropdown {
    display: none;
  }
}

@media (max-width: 767px) {
  .logoscreen {
    display: none;
  }
}

.footer_genshin {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  object-fit: cover;
  height: 8%;
  animation: glowing 5s infinite;
  transition: all 0.2s ease-in-out;
}
@keyframes glowing {
  0% {
    filter: drop-shadow(0px 0px 4px #a9faff) drop-shadow(0px 0px 4px #a9faff);
  }
  50% {
    filter: none;
  }
  100% {
    filter: drop-shadow(0px 0px 4px #a9faff) drop-shadow(0px 0px 4px #a9faff);
  }
}

.first_line {
  color: white;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  object-fit: cover;
  height: (10% - 100vw);
  padding-top: 10px;
}

.underline:hover {
  text-decoration: underline;
}

.seclastline {
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paragraph {
  color: rgb(183, 183, 183);
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 calc(2vw + 2vw + 2vw + 2vw);
  margin: 20px;
}

@media (max-width: 767px) {
  .paragraph {
    font-size: 9px;
  }
  .first_line {
    font-size: 9px;
    gap: 20px;
  }
}
.boxform {
  border-radius: 10px 0px 0px 10px;
  background-color: #ffffff;
  height: 55px;
  width: 25vw;
  min-width: 230px;
  text-align: left;
}

.saran {
  color: black;
  font-weight: bolder;
  font-size: 1rem;
  padding-top: 15px;
  padding-left: 0.781vw;
}

.kirim {
  border-radius: 0px 10px 10px 0px;
  background-color: rgb(66, 69, 255);
  height: 55px;
  width: 100px;
}
.stext {
  font-size: 1rem;
  font-weight: bolder;
  align-self: center;
  padding: 15px 30px;
}

@media (max-width: 767px) {
  .boxform {
    height: 30px;
    min-width: 0px;
  }
  .saran {
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    padding-top: 10px;
  }
  .kirim {
    height: 30px;
    width: 50px;
  }
  .stext {
    font-size: 0.5rem;
    padding: 10px 15px;
  }
}

@media (max-width : 435px){
  .seclastline {
    display: none;
  }
}

.lastline img {
  min-width: 120px;
  display: flex;
  justify-content: center;
  width: 20vw;
  margin: auto;
}
.copyright {
  padding-top: 1vw;
  font-size: 1.5vw;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 0px #ffffff68;
}
@media (max-width: 300px) {
  .seclastline {
    display: none;
  }
  .paragraph {
    display: none;
  }
  .first_line {
    display: block;
    justify-content: center;
    text-align: center;
  }
  .copyright {
    font-size: 8px;
  }
}
.gambar2 {
  background-color: #0162c8;
  z-index: -1;
  width: 100vw;
}
.bulu1 {
  position: absolute;
  left: 65vw;
  transform: translate(0 -120%);
}
.salju1 {
  position: absolute;
  transform: translate(0 -120%);
}
